<h1 class="red color">Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<h1>HuongNT</h1>
<div id="info_page">
    <label>Ho va ten: </label>
    <h1>Nguyen Thi Huong</h1>
    <label>Lop quan ly: </label>
    <h2>Tin hoc 11B</h2>
</div>